{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}
